/* 
.flex-container {
  background:rgb(163, 238, 163);
  width: 100vw;
  display: flex;
  flex: auto;
  align-items: stretch;
  align-items: baseline;
  margin-bottom: 0;
  margin-top: 0;
}

.flex-container > div {
  margin-top: 10px;
}
.title{
  flex-grow: 1;
  font-size:2em;
  text-align: center;
  color:blue
}
.title h1 {
  color:grey;
  font-size:.8em;
  font-family: 'Proza Libre', sans-serif;
  font-weight: 700;
  vertical-align: bottom;
}
.search-form{
  flex-grow:1;
  flex-basis: auto;
  font-size:1.1em;
  color: f1faee;
}
.search-field{
  width:185px;
  color: #f1faee;
} */
