
    <div class="flex-container" style="width: 100vw;">
      <div class="title">
        <span class="material-icons" >
          theaters
          </span>
        <span id="title-text">
         <h1>ShowFlix</h1>
        </span>
      </div>
    
      <div class="search-form">
        <form class="example-form">
          <mat-form-field class="search-field">
            <input class="search-input"
              
              placeholder="Find your favorite shows!"
              aria-label="Find your favorite shows!"
            />
          </mat-form-field>
          <button mat-icon-button aria-label="search icon">
            <mat-icon>search</mat-icon>
          </button>
        </form>
    
      </div>
      <!-- <div id="logo" fxHide.gt-xs><img height="50px"width="70px" src="/assets/images/real.png" alt="image"></div> -->
    </div>