<mat-toolbar class="toolbar">
    

    <mat-icon matPrefix></mat-icon>
    <h1 class = "heading">Showflix</h1>
    
    <mat-form-field>
        <mat-label>City Name or Zip Code</mat-label>
        <mat-icon matPrefix></mat-icon>
        <input matInput aria-label="City or Zip" [formControl] = "search">
    </mat-form-field>

</mat-toolbar>


<!-- <div class="flex-container" style="width: 100vw;">
    <div class="title">
      <span class="material-icons" >
        theaters
        </span>
      <span id="title-text">
       <h1>ShowFlix</h1>
      </span>
    </div>
  
    <div class="search-form">
      <form class="example-form">
        <mat-form-field class="search-field">
          <input class="search-input"
            
            placeholder="Find your favorite shows!"
            aria-label="Find your favorite shows!"
          />
        </mat-form-field>
        <button mat-icon-button aria-label="search icon">
          <mat-icon>search</mat-icon>
        </button>
      </form>
  
     -->
    
   
