
    
    <div class ="container my-2" *ngFor = "let elem of shows">
    <mat-expansion-panel class="heading" hideToggle>
      <mat-expansion-panel-header >
        <mat-panel-title class="name">
          {{elem.name}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
        
      </mat-expansion-panel-header>
      <div class = "detail">
      <img class="image" src={{elem.image}} alt="show-image">
      <mat-card class="card">
        Language: {{elem.language}}<br><br>
        Summary: {{elem.summary}}<br><br>
        Rating: {{elem.rating}}
      </mat-card>
    </div>
       </mat-expansion-panel>
  </div>

