<!-- <div class="container-fluid">
  <img src="../assets/images/pic.jpg" class="image" alt="cover" />

  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px">
      <div fxFlex="25%" fsFlex.xs="100%" fsFlex.sm="33%" *ngFor="let show of shows">
        
      
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Show:{{show.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/images/pic1.jpg" />
    </mat-card>
  </div>
</div>
</div>
</div> -->

<div></div>
