.image{
     z-index: -1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 116%;
  height: 116%;
  background-size:cover;
  background-position:center; 
    background-color: pink;
  opacity: .3;
  overflow: hidden;
  
}
img{
  max-height: 80%;
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 0;
}


.content{
  padding:16px;
}
.mat-elevation-z4{
  height: 22em;
  background-color: blueviolet;
  text-align: center;
  
}
.display{
  height: 250px;
  width: 160px;
 
}

.box:hover{
  transform: scale(1.07);
}
.card{
  background-color: blueviolet;
  font-family: 'Redressed', cursive;
  
}
.panel{
  background-color:green;
}
.name{
  font-family: 'Lobster', cursive;
  color: white;
  
}
#show-title{
  font-family: 'Redressed', cursive;
}

.footer {
     
    position:fixed;
    left:0px;
    bottom:40px;
    text-align: center;
    z-index:-1;
    height:30px;
    width:100%;
    background-color: bisque;
    font-family: 'Lobster', cursive;
    color: purple;
    }