.image{
     z-index: -1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 116%;
  height: 116%;
  background-size:cover;
  background-position:center; 
    background-color: pink;
  opacity: .3;
  overflow: hidden;
  
}
img{
  max-height: 80%;
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 0;
}


.content{
  padding:16px;
}
.mat-elevation-z4{
  height: 25em;
  background-color: blueviolet;
  text-align: center;
  
}
.display{
  height: 250px;
  width: 160px;
 
}

.box:hover{
  transform: scale(1.07);
}
.card{
  background-color: rgb(238, 184, 184);
  
}
.panel{
  background-color: rgb(248, 237, 237);
}

