.image{
     z-index: -1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 116%;
  height: 116%;
  background-size:cover;
  background-position:center; 
    background-color: pink;
  opacity: .3;
  overflow: hidden;
  
}
img{
  
}


.content{
  padding:16px;
}
.mat-elevation-z4{
  height: 350px;
  background-color: blueviolet;
}
.display{
  height: 250px;
  width: 160px;
 
}

.card:hover{
  transform: scale(1.05);
}
.row{
  display: flex;
}

